@font-face {
    font-family: "true-lies";
    src: url("../fonts/true_lies-webfont.woff") format("woff")
}

@font-face {
    font-family: "inter";
    src: url("../fonts/inter-variablefont_slntwght-webfont.woff") format("woff")
}
    

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #FFFCF3;
    /* font-family: "true-lies"; */
}

body {
    padding-bottom: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

.search {
    width: 87%;
    padding: 1rem;
    border-radius: 10px;
    border: solid #85B6FF 1px;
    -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
    background-color: #E9E9E9;
    color: black;
}

.search-buttons {
    display: inline-block;
    justify-content: center;
    padding-bottom: 2rem;
    color: #222222;
}


.dates {
        width: 87%;
        padding: 1rem;
        border-radius: 10px;
        border: solid #85B6FF 1px;
        -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        background-color: #E9E9E9;
    }

    .rooms-guests {
        width: 87%;
        padding: 1rem;
        border-radius: 10px;
        border: solid #85B6FF 1px;
        -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        background-color: #E9E9E9;
    }

    .hero-btn {

        width: 87%;
        padding: 1rem;
        border-radius: 10px;
        border: solid #85B6FF 1px;
        -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        background-color: #5565FF;
        color: black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        
    }

    .hero-btn:hover {
        background-color: #F5D340;
        color: black;
    }


    .or {
        justify-content: center;
        display: flex;
    }

    .sign-in-cont {
        width: 90%;
        margin: 0 auto;
        display: block;
        justify-content: center;
   }



    .sign-in-btn {

        width: 87%;
        padding: 1rem;
        border-radius: 10px;
        border: solid #85B6FF 1px;
        -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        background-color: #8DE0EC;
        color: black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .sign-in-btn:hover {
        background-color: #F5D340;
        color: black;
    }
    .hero-btn:hover {
        background-color: #F5D340;
        color: black;
    }


    .create-acc-btn {
        width: 87%;
        padding: 1rem;
        border-radius: 10px;
        border: solid #85B6FF 1px;
        -webkit-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        -moz-box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        box-shadow: 10px 10px 31px -12px rgba(0,0,0,0.53);
        background-color: #8DE0EC;
        color: black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .create-acc-btn:hover {
        background-color: #F5D340;
        color: black;
    }
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    top: 0;
    z-index: 999;
}

.logo-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    letter-spacing: 0.7rem;
    padding: 1rem;
}

img .logo {
    width: 200%;
}

/* HOME SECTION */


.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.category-title {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.category-card {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex: 45%;
    padding: 1rem 0.5rem;
    color: #112F5C;
    font-size: 1.1rem;
}

.category-card img {
    margin-right: 0.5rem;
    display: block;
    max-width: 90%;
    text-align: center;
    border-radius: 25px;
    position: relative;
}

.hong-kong-txt {
    display: flex;
    color: white;
    position: absolute; 
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    background: none;
}


/*SIGN IN PAGE*/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  /*CREATE ACCOUNT */
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* SELECTION PAGE */

#selection {
    display: none;
}

.card {
    width: 100%;
    margin-bottom: 2rem;
}

.card-head {
    margin-bottom: 1rem;
}

.card-head img {
    width: 100%;
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.item-head {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: #112F5C;
}

.item-info {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    color: #878787;
}

.item-price {
    padding-top: 0.5rem;
    font-weight: bold;
    text-decoration: underline;
    color: #112F5C;
}

/* LOCATION SECTION */

#location-1 {
    display: none;
    position: relative;
}

.location-img {
    margin-bottom: 1rem;
}

.location-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #112F5C;
}

.location-details {
    margin-right: 2rem;
    color: #878787;
    text-decoration: underline;

}

.book-cta {
    width: 100%;
    padding: 1rem 0;
    background-color: #112F5C;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    line-height: 140%;
    color: #222222;
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
}

.show-more {
    font-size: 1.2rem;
    color: #85B6FF;
    font-weight: bolder;
    text-decoration: underline;
}

.back-btn {
    position: fixed;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #5565FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM SECTION */

#form {
    display: none;
}

.form-heading {
    color: #112F5C;
    margin-bottom: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.input-container label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #878787;
}

.input-container input, select {
    padding: 0.75rem 0.5rem;
    border: #ABBEDA solid 1px;
    border-radius: 10px;
    color: #112F5C;
}

.form-submit {
    width: 100%;
    border: none;
    background-color: #112F5C;
    color: white;
    padding: 1rem 0;
    border-radius: 10px;
}

/* CONFIRMATION SECTION */

#confirm {
    display: none;
    position: relative;
}

.confirm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.confirm-icon {
    width: 200px;
    margin-bottom: 1rem;
}

.confirm-title {
    color: #112F5C;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.confirm-title span{
    color: #112F5C;
    font-weight: 600;
}

.confirm-tag {
    color: #878787;
    margin-bottom: 2rem;
    font-weight: 400;
}

.confirm-tag span {
    color: #878787;
    font-weight: 600;
}

.confirm-button {
    width: 100%;
    border: none;
    background-color: #5565FF;
    color: white;
    padding: 1rem 0;
    border-radius: 10px;
    font-weight: 600;
    position: relative;
    z-index: 999;
}

#my-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}




/*SIGN IN SECTION */







/* FOOTER NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    padding: 0 5rem;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px -18px 31px -12px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px -18px 31px -12px rgba(0,0,0,0.53);
    box-shadow: 0px -18px 31px -12px rgba(0,0,0,0.53);
    border-top: solid #85B6FF 2px;
    max-width: 700px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #131313;
    font-size: 0.8rem;
}

.nav-item img {
    width: 25px;
    background-color: white;
}

.category-card span {
    max-width: 10ch;
}